.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 30%;
    padding: 16px;
}
.home-image {
    background-color: transparent;
    width: 140%;
    height: 140%;
    object-fit: contain;
    
}