/* Exit.css */

/* Default exit button styling */
.exit {
  background-color: #7bb08e;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
  height: 35px;
}

.exit:hover {
  background-color: #69987a;
  transform: scale(1.05);
}

.exit-title {
  font-size: 14px;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
  line-height: 1;
  font-weight: 500;
}